* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}







body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent {
    width: 420px;
    max-width: 95%;
    margin: 0 auto;
}
.result {
    height: 140px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#input {
    width: 100%;
    font-size: 3.5rem;
    background: black;
    border: none;
    color: white;
    text-align: right;
}
.buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}
.item {
    height: 80px;
    font-size: 2rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pourcentage,
.item1 {
    background-color: #a5a5a5;
    color: black;
}
.numbers,.comma {
    background-color: #343434;
    color: white;
}
.arithmetic {
    background-color: #ff9f0a;
    color: white;
}
.zeronumber {
    background-color: #343434;
    border-radius: 40px;
    grid-column: span 2;
    justify-content: flex-start;
    padding-left: 30px;
}
